.accordion {
    max-width: 800px;
    margin: 4rem auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 5px solid $white;
    box-shadow: $shadow;
    &-item {
        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        &-header {
            @extend %flex-between;
            column-gap: 0.75rem;
            padding: 1rem;
            cursor: pointer;
            p {
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.2;
            }
            svg {
                font-size: 1.2rem;
                transition: $ease-trans;
            }
        }
        &-footer {
            height: 0;
            overflow: hidden;
            transition: $ease-trans;
            & > div {
                padding: 0 1rem 1rem;
                opacity: 0;
                transition: inherit;
            }
        }
        &.active &-header {
            svg {
                transform: rotate(180deg);
            }
        }
        &.active &-footer {
            & > div {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .accordion-item-header {
        p {
            font-size: 1.1rem;
        }
    }
}
