$primary-clr: #446280;
$primary-clr-2: #2c3e50;
$black: #181616;
$white: #ffffff;
$red: #cf3b3b;
$blue: #136ea3;
$olive: #6e9c1e;
$grey: #bdc3c7;
$radius: 0.25rem;
$spacing: 0.1rem;
$shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
$ease-trans: all 0.4s ease;
$ease-trans-2: all 2s ease;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
