@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import 'config';
@import 'navbar';
@import 'search-form';
@import 'photos';
@import 'modal';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    &::selection {
        background-color: $olive;
        color: $white;
    }
}

body {
    min-height: 100vh;
    background: linear-gradient($grey 0%, $primary-clr-2 100%);
    color: $white;
    line-height: 1;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: $spacing;
}

h3,
h4 {
    font-weight: 600;
}

img,
svg {
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    line-height: 1;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 0.5rem;
    border: none;
    border-radius: $radius;
    background-color: $white;
    color: $primary-clr-2;
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: $spacing;
    transition: $ease-trans;
    &:hover {
        background-color: $olive;
        color: $white;
        box-shadow: $shadow;
        &.red {
            background-color: $red;
        }
    }
}

.section {
    padding: 4rem 0;
    &-center {
        max-width: 1200px;
        width: 90vw;
        margin: 0 auto;
    }
    &-title {
        margin-bottom: 4rem;
        text-align: center;
        font-size: 2rem;
    }
}

.user-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    transition: $ease-trans;
    &:hover {
        box-shadow: 0 0 0 2px $olive;
    }
}

.error-img {
    width: 15rem;
    margin: 4rem auto;
}

.alert-message {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: $spacing;
}

.loading {
    width: 2.5rem;
    height: 2.5rem;
    margin: 2rem auto 0;
    border: 0.5rem solid $white;
    border-right-color: transparent;
    border-radius: 50%;
    animation: circling 0.6s linear 0s infinite;
}

@keyframes circling {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
